<!DOCTYPE html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="style.css">
    

</head>
<body>
    
    <div class="signup-box">
        <h1>Sign Up</h1>
        <form>
            <div class="block">
            <label>Username</label>
            <input type="text" placeholder="">
            
            </div >
            <div class="block">
            <label>First Name</label>
            <input type="text" placeholder="">
            
            </div class>

            <div class="block">
            <label>Last Name</label>
            <input type="text" placeholder="">
            </div>
            <label>Email</label>
            <input type="email" placeholder="">
            <br />
            <label for=""> select your photos:</label>
            <input type="file">
            <br />
            <label>Password</label>
            <input type="password" placeholder="">
            <br />
            <label>Confirm Password</label>
            <input type="password" placeholder="">
            <br />
            <input type="button" value="Submit"> 
           
  

            <p>Already have an account ?<a href="#"> login here</a></p>
        </form>
    </div>
    
    


</body>

</html>

